<html>
<head><title>Finished Assessment</title></head>
<body>
<p>Your score of <%= @score %> was successfully sent to <%= @tp.tool_consumer_instance_name || "your LMS" %></p>
<%= erb :_return_to_lms %>
</body>
</html>