<html>
<body>
<p style="color: #ff3d23;"><%= @message %></p>

<%= erb :_return_to_lms %>

<h3>Parameters</h3>
<table>
  <% params.keys.sort.each do |key| %>
    <tr>
      <td><%= key %></td>
      <td><%= params[key] %></td>
    </tr>
  <% end %>
</table>

</body>
</html>